body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #282a2e;
    color: #333;
    scroll-behavior: smooth;
    background-image: url('Images/tech.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
}

header {
    background: #222;
    color: white;
    padding: 1.5rem;
    position: relative;
}

h1:nth-child(1) {
    font-family: 'Orbitron', monospace;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
    from {
    text-shadow: 0 0 10px #b0f8ff, 0 0 20px #b0f8ff, 0 0 30px #b0f8ff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #0adff3, 0 0 10px #0adff3, 0 0 15px #0adff3, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

nav a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

section {
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: #ffffff;
}

.projects {
    display: grid;
    gap: 2rem;
}

.project-card {
    background: linear-gradient(45deg, #165ba0 25%, #00a2ff 100%);
    padding: 1.5rem;
    border: 1px solid #07adef;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(2, 235, 243, 0.927);
}

.project-card h3 {
    color: #fff;
}

.project-card p {
    color: #fff;
}

#a-propos p {
    color: rgb(255, 255, 255);
}

input,
textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #222;
    color: #0bf4f3;
    border: 1px solid #0bf4f3;
    box-shadow:  0 0 5px #0bf4f3,  0 0 5px #0bf4f3 inset;
    border-radius: 5px;
    cursor: pointer;
}

button:before {
  height: 0%;
  width: 2px;
}
button:hover {
  color: #fff;
  box-shadow: inset 0 0 10px #0bf4f3, 0 0 20px #0bf4f3 inset, 0 0 20px #0bf4f3 inset;
}

label {
    color: #ffffff;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        display: none;
        background-color: #222;
        padding: 1rem;
    }

    nav.active {
        display: flex;
    }

    .burger {
        display: flex;
    }
}